{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Barfuino!</title>
        <!--
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>-->
        <link rel="stylesheet" href="{% static 'tempcontrol/flatly.css' %}">
        <link rel="stylesheet" href="{% static 'tempcontrol/barfuino.css' %}">
    </head>
    <body>
        <div id="divnav">
        <nav class="navbar nav-tabs navbar-fixed-top" role="navigation">              
            <ul class="nav nav-tabs">
              <li class="active"><a href="/">Inicio</a></li>
              <li><a href="/crearperfil/">Crear Perfil de Temperatura</a></li>
              <li><a href="/procesosActivos/">Procesos Activos</a></li>
              <li><a href="graficas">Graficas</a></li>
            </ul>
        </nav>
        </div>
        <div class="page-header">
            <h1><a href="/">Barfuino!</a></h1>
        </div>
        
        <div class="content container">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>

