{% load staticfiles %}


<html>
    <head>
        <title>Barfuino!</title>
        <!--
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>-->
        <link rel="stylesheet" href="{% static 'tempcontrol/flatly.css' %}">
        <link rel="stylesheet" href="{% static 'tempcontrol/barfuino.css' %}">
    </head>
    <body>
        <div>               
            <ul class="nav nav-tabs">
              <li class="active"><a href="/">Inicio</a></li>
              <li><a href="/crearperfil/">Crear Perfil de Temperatura</a></li>
              <li><a href="/procesosActivos/">Procesos Activos</a></li>
              <li><a href="graficas">Graficas</a></li>
            </ul>
        </div>
        <div class="page-header">
            <h1><a href="/">Barfuino!</a></h1>
        </div>
        
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>

