{%extends 'base.html'%}

{%block content%}
	<p>
	  <button type="button" class="btn btn-primary btn-lg">Fermentador 1 <br>25°</button>
	  <button type="button" class="btn btn-default btn-lg">Fermentador 2 <br>17°</button>
	  <button type="button" class="btn btn-default btn-lg">Fermentador 3 <br>16°</button>
	  <button type="button" class="btn btn-default btn-lg">Fermentador 4 <br>18°</button>
	  <button type="button" class="btn btn-default btn-lg">Fermentador 5 <br>22°</button>
	</p>
	<div>
		<br>
		<br>
		<br>
		<br>
		<h1><p class="text-center">GRAFICA DE TEMPERATURAS.</p></h1>

	</div>		
{%endblock%}
