{%extends 'base.html'%}

{%block content%}
	<legend>Dashboard</legend>
	<div class="jumbotron">
		<p>
		  {% for fermentadorNom in fermentadorbtn %}
		  	{%for fermentadorTemp in temperaturabtn%}
		  		<button type="button" class="btn btn-primary btn-lg">{{fermentadorNom}}<br> {{temperaturabtn}}°</button>
		  	{%endfor%}
		  {%endfor%}
		  
		  
		</p>
		
		<div class="main-chart-div">
				{% load googlecharts %}
				{# container #}
				<div id="out"></div>
				{% googlecharts %}
				    {# named data and options can be reused #}
				    {% data values "out_data" %}
				        {% col "string" "Fecha" %}"{{ val }}"{% endcol %}
				        {% col "number" "Fermentador1" %}{{ val }}{% endcol %}
						{% col "number" "Fermentador2" %}{{ val }}{% endcol %}
						{% col "number" "Fermentador3" %}{{ val }}{% endcol %}
				    {% enddata %}
				    {# you can also use global javascript variables here, #}
				    {# and call functions #}
				    {% options "out_options" %}
				        kind: "LineChart",
				        options: {
				            width: 1000,
				            height: 360
				            
				        }
				    {% endoptions %}
				    {# chart is assembled from container, data and options #}
				    {% graph "out" "out_data" "out_options" %}

				{% endgooglecharts %}
		</div>
	</div>
{%endblock%}

{% for fermentador in fermentadores %}
   	{% col "number" "{{fermentador}}" %}{{ val }}{% endcol %}
{%endfor%}


